.background {
  -fx-background-color: #25251f;
}
.textRegAndLog {
  -fx-text-fill: #999999;
  -fx-font-family: "Iosevka NF Heavy Obl";
  -fx-font-style: italic;
  -fx-font-size: 45px;
}
.inputField {
  -fx-control-inner-background: #3d3d30;
  -fx-border-color: #a1a19a;
  /* -fx-background-color: #3d3d30; */
  -fx-text-fill: #e3e3e1;
  -fx-prompt-text-fill: #999999;
  -fx-background-radius: 10px;
  -fx-border-radius: 10px;
  -fx-border-width: 2px;
  -fx-font-family: "Iosevka NF Heavy Obl";
  -fx-font-style: italic;
  -fx-font-size: 24px;
  /* -fx-focus-color: green; */
  /* -fx-faint-focus-color: transparent; */
}
.inputField:focused {
  -fx-border-color: #f2f28a;
  -fx-faint-focus-color: transparent;
}
.buttons {
  -fx-background-color: #9b9b3b00;
  -fx-text-fill: #999999;
  -fx-font-family: "Iosevka NF Heavy Obl";
  -fx-font-style: italic;
  -fx-underline: true;
  -fx-font-size: 25px;
}
.buttons:hover {
  -fx-text-fill: #26beb1;
  -fx-cursor: hand;
}
